{% load static %}
<!DOCTTYPE html>
<html>
    <head>
        <title>Thembi's blog</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>

    <body>
       <header class="page-header">
        <div class="conatiner">

            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
       </header>
<main class="container">
    <div class="row">
        <div class="col">
            {%block content%}
            {%endblock content%}
        </div>
    </div>
</main>
     

       <!--<article>
        <time>published: 14.06.2014, 12:14</time>
        <h2><a href="">My second post</a></h2>
        <p>Hy there this is my secnd post</p>
       </article>-->
       

    </body>
</html>
