{% extends 'blog/base.html'%}
{% block content %}
            
                {%if object %}
                {% for obj in object %}
                    <article class="post">
                    <time>{{obj.published_date}}</time>
                    <h2><a href="{% url 'post_detail' pk=obj.pk %}">{{obj.title}}</a></h2>
                    <p>{{obj.text|linebreaksbr}}</p>
                </article>
                {% endfor %}
                {% endif %}
               
               
{% endblock content %}